<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<table class="-details">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Age</th>
    </tr>
    <tr >
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>
</table>
<button onclick="document.location='/'"class="btn btn-outline-primary">login</button>
</body>
</html>